<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .action {
            padding: 5px;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }


    </style>
</head>
<body>

<h3>Library</h3>

<table class="books">
    <thead>
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.name}"></td>
        <td th:text="${book.author.firstName}"></td>
        <td th:text="${book.genre.name}"></td>
        <td>
            <div class="action">
                <a th:href="@{/books/edit(id=${book.id})}" href="book_edit.html">
                    <button>Edit</button>
                </a>
            </div>
            <div class="action">
                <a th:href="@{/comments(bookId=${book.id})}" href="comment_list.html">
                    <button>View comments</button>
                </a>
            </div>
            <div class="action">
                <form id="delete-form" th:action="@{/books/delete(id=${book.id})}" th:method="post">
                    <button type="submit" class="link-button">Delete</button>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div class="action">
    <form id="add-form" th:action="@{/books/add}" th:method="get">
        <button type="submit" class="link-button">Add new</button>
    </form>
</div>
<div class="action">
    <form id="search-form" th:action="@{/books/search}" th:method="get">
        <input placeholder="Enter book Name" type="text" th:name="name"/>
        <button type="submit" class="link-button">Search</button>
    </form>
</div>
<div class="action">
    <a th:href="@{/books}" href="book_list.html">
        <button>View all books</button>
    </a>
</div>
<div class="action">
    <a th:href="@{/authors}" href="author_list.html">
        <button>View all authors</button>
    </a>
</div>
<div class="action">
    <a th:href="@{/genres}" href="genre_list.html">
        <button>View all genres</button>
    </a>
</div>
</body>
</html>