<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.1.xsd">

    <util:constant id="OUTPUT_STREAM" static-field="java.lang.System.out" />
    <util:constant id="INPUT_STREAM" static-field="java.lang.System.in" />

    <bean id="questionDao" class="ru.otus.homework.strelkov.dao.impl.QuestionDaoImpl">
        <constructor-arg name="questionsFilePath" value="questions.csv"/>
    </bean>

    <bean id="questionConverter" class="ru.otus.homework.strelkov.service.impl.QuestionConverterImpl"/>

    <bean id="ioService" class="ru.otus.homework.strelkov.service.impl.IOServiceStreams">
        <constructor-arg name="outputStream" ref="OUTPUT_STREAM"/>
        <constructor-arg name="inputStream" ref="INPUT_STREAM"/>
    </bean>

    <bean id="questionService" class="ru.otus.homework.strelkov.service.impl.QuestionServiceImpl">
        <constructor-arg name="questionDao" ref="questionDao"/>
        <constructor-arg name="ioService" ref="ioService"/>
        <constructor-arg name="questionConverter" ref="questionConverter"/>
    </bean>

</beans>
